/*div {
  border: 1px solid red;
  background: url(http://snugug.github.io/responsive-grids/images/symmetric-grid-bootstrap.png);
  background-size: contain;
}*/

.jumbotron {
  background-image: url(/img/wave2.jpg);
  background-color: rgb(73, 154, 138);
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 100px;
  background-blend-mode: lighten;
}

p {
  color: rgb(95, 97, 113);
  font-size: large;
}

nav {
  background-color: transparent;
}

.navbar {
  background-color: transparent;
  border: 0px;
  color: #003254;
}

#quote {
  border-left: 2px solid rgb(95, 97, 113);
  height: 40px;
}

#nlogo {
  transform: scale(.8);
  display: inline-block;
}

.tint{
  background-color: #003254;
}

.de-tint{
  opacity: 0.6;
  transform: scaleX(1.106);
}

.de-tint:hover {
  opacity: 1;
}
/*#socialpic {
  transform: scale(.5);
}*/

.big-h{
  font-size: 65px;
}
