div {
  border: 1px solid red;
  background: url(http://snugug.github.io/responsive-grids/images/symmetric-grid-bootstrap.png);
  background-size: contain;
  height: 500px;
}

/*main {
  height: 50px;
}*/

#nlogo {
  transform: scale(.8);
}

.profilepic {
  transform: scale(.1);
}

#socialpic {
  transform: scale(.5);
}
