/*div {
  border: 1px solid red;
  background: url(http://snugug.github.io/responsive-grids/images/symmetric-grid-bootstrap.png);
  background-size: contain;
}*/

#nlogo {
  transform: scale(.8);
  display: inline-block;
}


/*#socialpic {
  transform: scale(.5);
}*/

.big-h{
  font-size: 65px;
}
